observation_task1/campus_tour.mp4 filter=lfs diff=lfs merge=lfs -text
observation_task1&2/campus_tour.mp4 filter=lfs diff=lfs merge=lfs -text
OBSERVATION-TASKS/observation_task1&2/campus_tour.mp4 filter=lfs diff=lfs merge=lfs -text
